.rules_container {
    max-width: 1000px; /* Default max-width */
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rules_container h2 {
    font-size: 32px; /* Default font size */
    text-align: center;
    margin-bottom: 20px;
}

.rules_container .text p {
    font-size: 18px; /* Default font size */
    margin-bottom: 10px;
}

/* Media query for screens max-width 1200px */
@media (max-width: 1200px) {
    .rules_container {
        max-width: 900px;
    }

    .rules_container h2 {
        font-size: 28px; /* Adjust font size */
    }

    .rules_container .text p {
        font-size: 16px; /* Adjust font size */
    }
}

/* Media query for screens max-width 900px */
@media (max-width: 900px) {
    .rules_container {
        max-width: 700px;
    }

    .rules_container h2 {
        font-size: 24px; /* Adjust font size */
    }

    .rules_container .text p {
        font-size: 14px; /* Adjust font size */
    }
}

/* Media query for screens max-width 600px */
@media (max-width: 600px) {
    .rules_container {
        max-width: 90%;
    }

    .rules_container h2 {
        font-size: 20px; /* Adjust font size */
    }

    .rules_container .text p {
        font-size: 12px; /* Adjust font size */
    }
}
